/* Style général pour la carte */
#map {
    height: 500px;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Style pour la fenêtre flottante (popup) */
.popup-content {
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.popup-content strong {
    color: #007bff;
}

.popup-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.popup-content li {
    background-color: #f0f8ff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup-content li strong {
    color: #007bff;
}

/* Ajustement des contrôles de la carte */
.leaflet-control {
    margin-right: 15px;
    margin-top: 10px;
}
