/* ========================================================================
   compte.css
   Styles pour la gestion des comptes utilisateurs
   ======================================================================== */

/**
 * @section Account Styles
 * Styles pour la gestion des comptes utilisateurs.
 */

/**
 * Account Container
 */
.compte-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

/**
 * Main Heading
 */
.compte-container h1 {
    font-size: 2.5em;
    color: #4c5f2d;
    margin-bottom: 30px;
}

/**
 * Custom Tabs
 * Styles pour les onglets personnalisés.
 */
.compte-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ffffff;
}

.compte-tab-link {
    background: none;
    border: none;
    padding: 10px 20px;
    color: #6b8e23;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    margin-bottom: -1px;
}

.compte-tab-link.active {
    color: darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

.compte-tab-link:hover {
    color: darkolivegreen;
}

/**
 * Dashboard Layout
 */
.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Aligne les éléments en haut */
    margin-top: 30px;
    gap: 30px;
}

.dashboard-content {
    width: 65%; /* Ajustez la largeur pour que le contenu soit à droite */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/**
 * Profile Card
 */
.profile-card {
    background-color: #ffffff;
    flex: 0 0 30%;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    border-radius: 100px;
    border: 1px solid black;
}

.profile-avatar {
    font-size: 4em;
    color: #6b8e23;
    text-align: center;
}

.profile-info h2 {
    font-size: 1.8em;
    color: #333;
    margin: 0;
    text-decoration: none;
}

.profile-info p {
    color: #777;
    margin-top: 5px;
}

/**
 * Tab Content
 */
.compte-tab-content {
    display: none;
}

.compte-tab-content.active {
    display: block;
}

/**
 * Forms
 * Styles pour les formulaires dans les comptes.
 */
.compte-form {
    text-align: left;
}

.compte-form h2 {
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #4c5f2d;
    font-weight: bold;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #6b8e23;
}

.input-group input {
    width: 75%;
    padding: 12px 40px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    font-size: 1.1em;
    transition: border-color 0.3s;
    color: #4c5f2d;
    font-family: 'League Spartan', sans-serif;
}

.input-group input:focus {
    border-color: #6b8e23;
    outline: none;
}

.input-group input::placeholder {
    color: darkolivegreen;
    font-family: 'League Spartan', sans-serif;
}


/**
 * @section Favorite Cities List Styles
 * Styles pour la liste des villes favorites des utilisateurs.
 */

/**
 * Favorite Cities Section
 * Conteneur principal pour la section des villes favorites.
 */
.favorite-cities-section {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/**
 * Favorite Cities Heading
 * Titre de la section des villes favorites.
 */
.favorite-cities-section h3 {
    font-size: 1.5em;
    color: #6b8e23;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/**
 * Favorite Cities List
 * Liste des villes favorites.
 */
.favorite-cities-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
 * Favorite Cities List Item
 * Élément individuel de la liste des favoris.
 */
.favorite-cities-list li {
    background-color: #f3f4ed;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
    color : darkolivegreen;
}

.favorite-cities-list li:hover {
    background-color: #e0e0d1;

}

/**
 * Favorite City Name
 * Nom de la ville favorite.
 */
.favorite-link {
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
}
.favorite-link:hover{
    color : darkolivegreen;
    text-decoration: underline;
}

/**
 * @section Suggestions List Styles
 * Styles pour la barre de recherche pour entrer une ville en favoris.
 */

.favorite-city-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    position: relative;
}

.favorite-city-form input[type="text"] {
    width: 100%;
    font-family: "League Spartan", sans-serif;
    font-size: 1.1em;
    flex: 1; /* S'étend pour occuper l'espace disponible */
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.favorite-city-form input[type="text"]:focus {
    border-color: #6b8e23;
    box-shadow: 0 0 5px rgba(107, 142, 35, 0.5);
    outline: none;
}
/**
 * Styles pour les listes de suggestions dans les formulaires.
 */
.favorite-cities-section #suggestions-list {
    top: calc(100% + 5px); /* Place les suggestions juste en dessous de l'input */
    left: 0;
    width: calc(100% - 30px); /* Ajuste la largeur pour qu'elle corresponde à l'input */
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.favorite-cities-section #suggestions-list.show {
    opacity: 1;
    visibility: visible;
}

.favorite-cities-section #suggestions-list li {
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.favorite-cities-section #suggestions-list li:hover {
    background-color: #f3f4ed;
    color: #6b8e23;
}

/**
 * @section History List Styles
 * Styles pour la liste de l'historique des recherches des utilisateurs.
 */

/**
 * History Section
 * Conteneur principal pour la section de l'historique des recherches.
 */
.history-section {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/**
 * History Heading
 * Titre de la section de l'historique.
 */
.history-section h3 {
    font-size: 1.5em;
    color: #6b8e23;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/**
 * History List
 * Liste de l'historique des recherches.
 */
.history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
 * History List Item
 * Élément individuel de la liste de l'historique.
 */
.history-list li {
    background-color: #f3f4ed;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
    transition: background-color 0.2s;
}

.history-list li:hover {
    background-color: #e0e0d1;
}

/**
 * History Search Query
 * Requête de recherche dans l'historique.
 */
.history-list li .search-query {
    flex : 1    ;
    font-size: 1.1em;
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

.history-list li .search-query:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol pour indiquer que c'est cliquable */
    color: #6b8e23; /* Change la couleur au survol */
}

.history-list li .search-query i {
    margin-right: 8px;
    color: #6b8e23;
}

/**
 * Compte
 * Logo des titres h2
 */
.fa-solid, .fas {
    font-weight: 900;
    margin-right: 10px;
}