/* ========================================================================
   recherche.css
   Styles pour le conteneur de recherche et les suggestions
   ======================================================================== */

/**
 * @section Search Styles
 * Styles pour le conteneur de recherche et les suggestions.
 */

/**
 * Page Recherche
 * Applique un fond darkolivegreen à la page de recherche.
 */
#recherche-page {
    background-color: darkolivegreen;
}

/**
 * Search Container
 */
#search-container {
    background-color: transparent; /* Laisser transparent pour voir la couleur de fond de la page */
    padding: 30px;
    border-radius: 8px;
    max-width: 700px;
    margin: 80px auto;
    text-align: center;
}

#search-container h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #f9f9e9;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

/**
 * Search Bar
 */
#search-bar {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
}

#search-bar:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/**
 * Search Input Wrapper
 * Conteneur pour l'input et les suggestions.
 */
.search-input-wrapper {
    position: relative;
    width: 100%;
}

/**
 * Suggestions List
 * Liste des suggestions avec animation.
 */
#suggestions-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    opacity: 0;
    list-style-type: none;
    padding: initial;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

#suggestions-list.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#suggestions-list li {
    padding: 12px 20px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    transition: background-color 0.2s;
}

#suggestions-list li:hover {
    background-color: #f0f0f0;
    color: #6b8e23;
}

#suggestions-list li:last-child {
    border-bottom: none;
}

#suggestions-list li + li {
    border-top: 1px solid #eee;
}
.avertissement {
    color : white;
}